
.imgcar{
    width: 500px;
    height:400px;
}
.txt1{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.fullpage{
    background-color: blanchedalmond;
}
h5{
    font-size:18pz;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:blueviolet;
    font:bold;
}
h2{
    font-size:18pz;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:green;
    font:bold;  
}
.bb{
    text-decoration: none;
    color:orange;
}
/* CSS for card hover effect */
.card {
    transition: transform 0.3s; /* Add a smooth transition for the transform property */
  }
  
  .card:hover {
    transform: scale(1.05); /* Increase the scale (expand) when hovering */
  }
  